@import "../../../assets/scss/mixin.scss";

.wrapper {
  width: 100%;
  background-color: var(--gray-200);
  min-height: 100%;
  //padding: 50px 250px;
  padding-left: var(--navigation-width);;
}

#menu_open_icon {
  display: none;
  @include screen('phone') {
    display: block;
  }
}

