.widgetTitle {
    background-color: #FFFFFF;
    border-bottom: solid 1px var(--surface-border);
    color: #000000;

    .title {
        font-size: 26px;
        font-family: var(--main-title-font-family);
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        
      
        &-blue {
          background-color: var(--main-blue);
          height: 10px;
          width: 10px;
          border-radius: 50%;
          display: inline-block;
          margin-top: 8px;
          margin-left: 15px;
          margin-right: 10px;
        }
    }

    .right-icons {
        position: relative;
        border: none;
        background: unset;
        float: right;
        padding-top: 8px;

        i {
            margin-right: 15px;
            cursor: pointer;
        }
    }
}

.mainArea {
    background-color: #FFFFFF;

    .input-calendar {
        width: 300px;
        padding-top: 10px;
        padding-left: 10px;
    }

    .loneValueDesign {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        justify-content: center;

        .loneValue {
            font-size: 45px;
        }
        .unitLoneValue {
            font-size: 25px;
            color: var(--gray-500);
        }
    }

    .chart {
        margin-right: 15px;
    }
}

::ng-deep .p-calendar {
    height: 10px;
}

::ng-deep .p-inputtext {
    font-size: 10px;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 6px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: var(--main-title-font-family);
    transform: translateX(-180px);

    .option {
        padding-top: 5px;
        cursor: pointer;
    }
}

.dropdown-content.show {
    display: flex;
    flex-direction: column;
}

