<div class="widgetTitle">
    <span class="dot-blue"></span>
    <span class="title"> {{title}} </span>
    <span class="right-icons">
        <i class="pi pi-window-maximize"></i>
        <div class="dropdown">
            <i class="pi pi-ellipsis-v" (click)="showDropdownContent()"></i>
            <div [id]="idDropdownContent" class="dropdown-content">
                <p class="option" (click)="askResetZoomChart()"  *ngIf="chartType==='lineChart'">Réinitialiser zoom</p>
                <p class="option" (click)="askExportDatas(chart)">Exporter les données</p>
                <p class="option">Agrégation des données</p>
            </div> 
        </div>
    </span>
</div>
<div class="mainArea">
    <div class="input-calendar">
        <p-calendar id="calendarRange" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"></p-calendar>
    </div>    
    <div class="loneValueDesign" *ngIf="chartType === 'number'">
        <span class="loneValue" [ngStyle]="{ 'color': colorLoneValue }"> {{loneValue}} </span>
        <span class="unitLoneValue"> {{unitLoneValue}} </span>
    </div>
    <div class="chart" *ngIf="chartType !== 'number'">
        <app-graphs [chart]="chart" [chartHeight]="chartHeight" [chartWidth]="chartWidth" [id]="idGraph" [graphType]="'barGraph'" [generateCsv]="generateCsv" *ngIf="chartType==='barGraph'"></app-graphs>
        <app-graphs [chart]="chart" [chartHeight]="chartHeight" [chartWidth]="chartWidth" [id]="idGraph" [graphType]="'doughnut'" [generateCsv]="generateCsv" *ngIf="chartType==='doughnut'"></app-graphs>
        <app-graphs [chart]="chart" [chartHeight]="chartHeight" [chartWidth]="chartWidth" [id]="idGraph" [graphType]="'gauge'" [generateCsv]="generateCsv" *ngIf="chartType==='gauge'"></app-graphs>
        <app-graphs [chart]="chart" [chartHeight]="chartHeight" [chartWidth]="chartWidth" [id]="idGraph" [graphType]="'lineChart'" [generateCsv]="generateCsv" [resetZoom]="resetZoom" *ngIf="chartType==='lineChart'"></app-graphs>
        <app-graphs [chart]="chart" [chartHeight]="chartHeight" [chartWidth]="chartWidth" [id]="idGraph" [graphType]="'loadProfile'" [generateCsv]="generateCsv"  *ngIf="chartType==='loadProfile'"></app-graphs>
    </div>
</div>
