.widgetTitle {
    background-color: #FFFFFF;
    border-bottom: solid 1px var(--surface-border);
    color: #000000;

    .title {
        font-size: 26px;
        font-family: var(--main-title-font-family);
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        
      
        &-blue {
          background-color: var(--main-blue);
          height: 10px;
          width: 10px;
          border-radius: 50%;
          display: inline-block;
          margin-top: 8px;
          margin-left: 15px;
          margin-right: 10px;
        }
    }

    .right-icons {
        position: relative;
        border: none;
        background: unset;
        float: right;
        padding-top: 8px;

        i {
            margin-right: 15px;
            cursor: pointer;
        }
    }
}

.mainArea {
    background-color: #FFFFFF;

    .input-calendar {
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
    }

    .loneValueDesign {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        justify-content: center;

        .loneValue {
            font-size: 45px;
        }
        .unitLoneValue {
            font-size: 25px;
            color: var(--gray-500);
        }
    }

    .chart {
        margin-right: 15px;
    }
}

::ng-deep .p-calendar {
    height: 10px;
}

::ng-deep .p-inputtext {
    font-size: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Links inside the dropdown */
.app-popover-menu-item .element {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      padding-left: 15px;
    }
    .aggregateLabel {
        display: block;
        align-items: center;
        .text {
            padding-bottom: 5px;
        }
        .aggregateSelect {
            padding-top: 5px;
        }
        .aggregateType {
            width: 100%;
        }
    }
}