<nav [ngClass]="{'main-navigation': isOpened, 'hide-main-navigation' : !isOpened}" @fadeIn>
  <div *ngIf="isOpened" id="menu_close_icon">
    <span (click)="closeMenu()"><span class="pi pi-times"></span></span>
  </div>
  <h1>
    <img id='logo' src="../../../assets/images/logo-inviseo.png" alt="Gallium">
  </h1>
  <ul routerLinkActive="active" (click)="closeMenu()">
    <li routerLink="/buildings">
      <i class="pi pi-home"></i>
      <a>Accueil</a>
    </li>
  </ul>
  <div class="user logout">
      <i class="pi pi-sign-out"></i>
    <a class="logout" (click)="logout()">
      Déconnexion
    </a>
  </div>
</nav>
