.widgetsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .widget {
        padding-top: 50px;
        margin-left: 25px;
    }

    .widgetsRightSide {
        display: flex;
        flex-direction: column;

        .widgetRightSide {
            padding-top: 50px;
            margin-left: 25px;
        }
    }
}
